/*Place all the styles related to the emotions controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/ 
*/
.title_expo{
	font-family: 'Poppins', sans-serif;
	font-size: 100px;
	font-weight: 100;
}
